{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "Bank_app/ui.css" %}">
    <title>Generate Account Number</title>    
</head>
<body>
    {% include 'Bank_app/header.html' %}
    {% include 'Bank_app/normal_super_user.html' %}
    <div id="main-container">
        <p style="font-size: small;"> Hi<span style=" font-size: small; font-family: Impact;">  {{ request.user.username }},</span></p>
        <h3>Generate account number ...</h3>
        
          <form method="POST" action="">
            {% csrf_token %}
                {% if hasSuccess %}
                    <p  class="success_msg"><strong>Success!</strong> {{hasSuccess}}</p>
                {% elif hasSuccess == False  %}
                    <p  class="danger"><strong>Error!</strong> {{message}} </p>
                {% else %}
                    
                {% endif %}
    
                  
                
            <div class="register-div">
                <p class="inp-text" readonly> {{ cust_info.first_name }} </p>
                <p class="inp-text" readonly> {{ cust_info.username }} </p>
                <p class="inp-text" readonly><b> {{ accountNo }} </b></p>
                
                
            
               <br>
          
            </div>
        </form>       
    </div>   
    </div>
    {% include 'Bank_app/footer.html' %}
  
</body>
</html>
