{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "Bank_app/ui.css" %}">
    <title>Customers</title>    
</head>
<body>
    {% include 'Bank_app/header.html' %}
    {% include 'Bank_app/normal_super_user.html' %}
    <div id="main-container">
        
        <h2 style="color: brown;">Statement</h2>
        <table>
            <tr>
              <th class="sNumber">s/n</th>
              <th class="tbHead">Date</th>
              <th class="tbHead">Description</th>
              <th class="sizeAccountStatus">Balance(£)</th>
          
           
            </tr>
            {% for cust in transaction_stmnt %}
            <tr class="trData">
              <td>1</td>
              <td>{{ cust.tDate}}</td>
              <td>{{ cust.tDescription}}</td>
              <td>{{ cust.tBalance}}</td>  
            </tr>
            {% endfor %}
            
          </table>
              
    </div>   
    </div>
    {% include 'Bank_app/footer.html' %}
  
</body>
</html>
