{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "Bank_app/ui.css" %}">
    <title>Thank you</title>    
</head>
<body>
    {% include 'Bank_app/header.html' %}
    <div id="main-container">

        <p  class="success_msg">Thank you, log out successful! &#x1F590;</p>
        
        
    </div>   
    </div>
    {% include 'Bank_app/footer.html' %}
  
</body>
</html>
